/* 全局样式重置 */
body, h1, img {
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* 设置全局字体和背景颜色 */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* 网格容器样式 */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 三列布局 */
    grid-gap: 20px; /* 间距 */
    max-width: 1200px; /* 最大宽度 */
    margin: 0 auto; /* 居中 */
    padding: 20px;
    background-color: #fff;
}


.grid-item
/* 图片样式 */
.grid-item img {
    width: 100%; /* 图片宽度占满列 */
    height: auto; /* 高度自动调整以保持长宽比 */
}
